<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Blogs of an Simple Man</h1>
    <p class="lead blog-description">A pile of thoughts from my mind</p>
    <span class="btn btn-primary">
        <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span class="btn btn-primary">
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>
