<div class="container vertical-center">
  <div class="card about-me">
    <div class="row">

      <div class="col-md-6">
      </div>
      <div class="col-md-6 about-right-col">
        <p>
          As an avid adventurist, I appreciate the beauty of what the world brings, and I strive to utilize what it
          gives. Looking to this canvas I try to bring this feel to my projects, hobbies and daily routines.
        </p>
        <p>
          His belief of beauty, simplicity and functionality is always a goal that he tries to improve on every day.
          Productivity works in the same fashion, with a balance of happiness, curiosity and drive, the opportunity to
          achieve something beyond the ordinary will present itself.
        </p>
        <p>
          <button
              class="btn btn-secondary"
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controls="jobHistory"
          >
            Job History
          </button>
          <button
          class="btn btn-secondary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controls="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              District Manager
            </div>
            <div class="card card-block">
              Problem Solver
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              Bottega - Full time accelerated developer course, focusing on the best practices in languages and frameworks such as: Ruby, Rails, Typescript, Angular, CSS, HTML, Javascript, and more.
            </div>
            <div class="card card-block">
              Jordan Applied Technology Center - Engineering program
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
