<div class="app-card-container">
  <div class="card">
    <h1>Chris Farley Is Awesome</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-7">
        <p>
          Devan is an avid adventurist, who appreciates the beauty of what the world brings, but strives to utilize what it
          gives. Looking to this canvas he tries to bring this feel to his projects, hobbies and daily routine.
        </p>
        <p>
          His belief of beauty, simplicity and functionality is always a goal that he tries to improve on every day.
          Productivity works in the same fashion, with a balance of happiness, curiosity and drive, the opportunity to
          achieve something beyond the ordinary will present itself.
        </p>
      </div>
    </div>
  </div>
</div>

