<h1>A Splash Of My Info</h1>
<p>Would enjoy any questions you have.</p>

<p><%= number_to_phone 3852295943 %></p>
<p><%= "devanrwalker@gmail.com" %></p>
<p><%= "www.linkedin.com/in/devanrwalker" %></p>
<p><%= "@ South Jordan, UT" %></p>
