<h1>A Splash Of My Info</h1>
<p>Would enjoy any questions you have.</p>

<p><%= number_to_phone 3852295943 %></p>
<p><%= "devanrwalker@gmail.com" %></p>
<p><%= "www.linkedin.com/in/devanrwalker" %></p>
<p><%= "@ South Jordan, UT" %></p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.8522868268838!2d-111
.97983498411593!3d40.54485247935045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13
.1!3m3!1m2!1s0x87528594e062a8e3%3A0xe41f5f6b81cd2942!2s3636+Azara+Lane%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus
!4v1489167769475" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>
