 <div class="inner cover">
    <h1 class="cover-heading">Jump On In</h1>
    <p class="lead">It doesn't matter if the water is cold or warm if you're going to have to wade through it anyway.
    <br>- Teilhard de Chardin
    </p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
