<div class="inner cover">
  <h1 class="cover-heading">:Root {cause}, a Devan Walker Portfolio</h1>
  <p class="lead">All conventional wisdom has an element of truth to it, but good design requires more than an element of truth - it requires an ensemble of correct assumptions and valid calculations. - Henry Petroski </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>