<h2>Home Page</h2>

<div id='container'>
  <div id='map-canvas'></div>
  <div id='map-inner'>
    <div class='overflow'>
      <h1>
        South Jordan, Utah
      </h1>
      <p>
        Paris is the capital and most populous city of France. It is situated on the Seine River, in the north of the country, at the heart of the Île-de-France region.
      </p>
    </div>
  </div>
</div>