<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-envelope-square"></span>
    <h2><!--[-->{contact} me.<!--]--></h2>
    <p><!--[-->Feel free to contact me about any questions, projects or job opportunities you may have.<!--]--></p>
    <p></p>
    <p>Email: devanrwalker@gmail.com</p>
    <p>Phone: 385-229-5943</p>
    <p>Location: South Jordan, UT</p>
  </header>

  <!-- One -->
  <section class="wrapper style4 special container 75%">
    <!-- Content -->
    <div class="content">
      <form method="POST" action="https://formspree.io/devanrwalker@gmail.com">
        <div class="row 50%">
          <div class="6u 12u(mobile)">
            <input type="text" name="name" placeholder="Name (UNDER CONSTRUCTION)" />
          </div>
          <div class="6u 12u(mobile)">
            <input type="email" name="email" placeholder="Email (UNDER CONSTRUCTION)" />
          </div>
        </div>
        <div class="row 50%">
          <div class="12u">
            <input type="text" name="subject" placeholder="Subject (UNDER CONSTRUCTION)" />
          </div>
        </div>
        <div class="row 50%">
          <div class="12u">
            <textarea name="message" placeholder="Message (UNDER CONSTRUCTION) Please send any emails to devanrwalker@gmail.com" rows="7"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="buttons">
              <li><input type="submit" class="special" value="Send Message (UNDER CONSTRUCTION)" /></li>
            </ul>
          </div>
        </div>
      </form>
  </section>
</article>


<!--<%= render 'shared/contact_social_links' %>-->