<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-envelope-square"></span>
    <h2><!--[-->{contact} me.<!--]--></h2><br />
    <!--[-->Feel free to contact me about any questions, projects or job opportunities you may have.<!--]--><br /><br />
    Email: devanrwalker@gmail.com<br />
    Phone: 385-229-5943<br />
    Location: South Jordan, UT<br />
  </header>

  <!-- One -->
  <section class="wrapper style4 special container 75%">
    <!-- Content -->
    <div class="content">
      <form method="POST" action="https://formspree.io/devanrwalker@gmail.com">
        <div class="row 50%">
          <div class="6u 12u(mobile)">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="6u 12u(mobile)">
            <input type="email" name="email" placeholder="Email" />
          </div>
        </div>
        <div class="row 50%">
          <div class="12u">
            <input type="text" name="subject" placeholder="Subject" />
          </div>
        </div>
        <div class="row 50%">
          <div class="12u">
            <textarea name="message" placeholder="Message" rows="7"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="12u">
            <ul class="buttons">
              <li><input type="submit" class="special" value="Send Message" /></li>
            </ul>
          </div>
        </div>
      </form>
  </section>
</article>


<!--<%= render 'shared/contact_social_links' %>-->
