<div class="row height">
  <div class="col-md-12">
    <%= render 'shared/contact_social_links' %>
  </div>
</div>

<div class="row height">
  <div class="col-md-12">
    <%= render 'shared/contact_click' %>
  </div>
</div>