//@import "bootstrap";

$color1: #90CCFF;
$color2: #1F3944;
$color3: white;

.contact-click {
  margin-left: -15px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-paperplane {
  font-size: 1em;
  color: black;
  margin-left: 40px;
  margin-top: 7px;
}

.contact-button {
  display: flex;
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
  color: $color3;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 4px;
  padding: 7px 15px 7px 50px;
  transition: 0.3s ease-in-out;
  margin-top: 10px;
  margin-left: 15px;

  span {
    text-transform: none;
    position: absolute;
    color: $color1;
    margin-top: 3px;
    margin-left: -31px;
    opacity: 1;
    transition: all 0s ease 0s;
  }
  &:hover {
    transition: 0.3s ease-in-out;
    border: 2px solid black;
    border-radius: 50px;
    background-color: $color3;

    &>span {
      font-size: 6em;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      margin-top: 70px;
      opacity: 1;
      transition: all 0.25s ease-in-out 0.1s;
    }

    &:before {
      transition: 0.3s ease-in-out;
      background-color: $color1;
    }
  }


  &:before, &:after {
    content: "";
    position: absolute;
    top: -14px;
    left: -12px;
    width: 132px;
    height: 25px;
  }
  &:before {
    border: 2px solid $color1;
    background-color: $color2;
    transform: skew(-25deg);
    transition: 0.3s ease-in-out;
  }

  &:after {
    content: "Available for work";
    font-size: 9px;
    top: -15px;
    margin-left: 10px;
    color: $color3;

  }


}

